nginx-config/acme/**
!nginx-config/acme/.gitkeep

nginx-config/certs/**
!nginx-config/certs/.gitkeep

nginx-config/conf.d/**
!nginx-config/conf.d/.gitkeep

nginx-config/html/**
!nginx-config/html/.gitkeep

nginx-config/htpasswd/**
!nginx-config/htpasswd/.gitkeep

nginx-config/reload/**
!nginx-config/reload/.gitkeep

nginx-config/vhost.d/**
!nginx-config/vhost.d/.gitkeep

