[Container]
Pod=nginx-proxy.pod
ContainerName=nginx-proxy-gen
Image=docker.io/nginxproxy/docker-gen:0.16.1
Environment=DOCKER_HOST=unix:///run/nginx-proxy/podman.sock
EnvironmentFile=/app/proxy/nginx-config/nginx-proxy-proxy-gen.env
Exec=-notify '/app/notify_nginx_on_host.sh GEN' -watch -wait 5s:30s /etc/docker-gen/templates/nginx.tmpl /etc/nginx/conf.d/default.conf
Label=com.github.nginx-proxy.docker-gen=1 com.github.nginx-proxy.nginx=1

Volume=/app/proxy/nginx-config/certs:/etc/nginx/certs:z,ro
Volume=/app/proxy/nginx-config/conf.d:/etc/nginx/conf.d:z
Volume=/app/proxy/nginx-config/htpasswd:/etc/nginx/htpasswd:z,ro
Volume=/app/proxy/nginx-config/vhost.d:/etc/nginx/vhost.d:z
Volume=/app/proxy/nginx-config/reload:/etc/nginx/reload:z
Volume=/app/proxy/nginx-config/tmpl/nginx.tmpl:/etc/docker-gen/templates/nginx.tmpl:z,ro
Volume=/app/proxy/nginx-config/scripts/notify_nginx_on_host.sh:/app/notify_nginx_on_host.sh:z,ro
Volume=/run/user/1000/podman/podman.sock:/tmp/docker.sock:z,ro

LogDriver=json-file
PodmanArgs=--log-opt 'max-size=2m' --log-opt 'max-file=10'

AutoUpdate=registry

[Service]
Restart=always
TimeoutStartSec=10
TimeoutStopSec=70

[Install]
WantedBy=default.target
